<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.1" package="MASTopia.Droid" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="10" />
	<application android:icon="@drawable/icon" android:label="MASTropolis"></application>
</manifest>